<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5u5LhV7woXoxUxASJxoS_sKBYHmHzoMU</string>
	<key>GCM_SENDER_ID</key>
	<string>571162499267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailyRecipesFinal</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-final-721ba</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-final-721ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571162499267:ios:89087e5fac3bfca8b12a76</string>
</dict>
</plist>